{% extends "base.html" %}
{% block title %}Login Page{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="#" method = "post">
        <p>Licht an</p>
        <input type="radio" name="lichtschalter" id="lighton" value="lighton"> Licht an </input><br>
        <input type="radio" name="lichtschalter" id="lightoff" value="lightoff"> Licht aus </input><br>
        <p> <input type="submit" name="submitlight"/> </p>
    </form>
{% endblock %}