{% extends "base.html" %}
{% block title %}Login Page{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<p>Welche Wecker sollen gelöscht werden?</p>
<form method="post" action="#">
    {% for value in values %}
    <div class="form-check">
<input type="checkbox" name="loeschen" value="{{value}}"\>   {{value}} 
    </div> 
    {% endfor %}
    <p><input type="submit" name="submit" value="Ausgewählte Wecker löschen"/></p>

</form>
{% endblock %}